<h1>Swapping of two numbe</h1>

In [1]:
num1=int(input("Enter the first Number:"))
num2=int(input("Enter the second Number:"))
print("Before the swapping")
print("Number1=",num1)
print("Number2",num2)
temp=num1
num1=num2
num2=temp
print("After swapping:")
print("Number1=",num1)
print("Number2",num2)
'''
method 2
num1,num2=num2,num1
 method 3 
 use addition and subtraciton
 
'''

Enter the first Number: 2
Enter the second Number: 3

Before the swapping
Number1= 2
Number2 3
After swapping:
Number1= 3
Number2 2

'\nmethod 2\nnum1,num2=num2,num1\n method 3 \n use addition and subtraciton\n \n'

<h1>Check Prime or Not</h1>

In [5]:
#Number should be natural->1,2,3...
#prinme=only two factors
number=int(input("Enter the numbers:"))
count=0
if number > 0:
                 for i in range(1,number+1):
                    if(number%i)==0:
                        count=count+1
                 if count == 2:
                    print("Number is prime",number)
                 else:
                    print("Number is not prime",number)

Enter the numbers: 4

Number is not prime 4

<h1>Find Factorial</h1>

In [8]:
fact=1
num=int(input("Enter the number"))
if num < 0:
    print("Factorail of Negative Number is not possible")
elif num ==0 or num==1:
    print("Factorail=",fact)
else:
    for i in range(1,num+1):
        fact=fact * i
    print("Factorial=",fact)

Enter the number 5

Factorial= 120

In [12]:
#using recrssion
#5*4*3*2*1
def factorial(n):
    if (n==0 or n ==1):
        return 1
    else:
        return n * factorial(n-1)
n=1
print("factorial of ",n,"is",factorial(n))

factorial of  1 is 1

<h1>Fibonacci Series</h1>

Fibanacci Series-A series of numbers in which each number (Fibanacci number) is the sum of the 
two preceding numbers.

In [1]:
# 0  1  1  2  3  5  8  13  21  34
# n1 n2
n1=0 
n2=1
print(n1)
print(n2)
for i in range(2, 5):
    sum= n1 + n2
    print(sum)
    n1=n2
    n2=sum

0
1
1
2
3

<h1>Reverse of number</h1>

In [19]:
num = int(input("Enter the number: "))
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10   # âœ… Corrected here

print("Reverse of number:", rev)

Enter the number:  123

Reverse of number: 321

<h1>Palindrome of Number</h1>

In [20]:
num = int(input("Enter the number: "))
temp = num   # store original number
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num = num // 10

if temp == rev:
    print("It is a Palindrome number")
else:
    print("It is NOT a Palindrome number")

Enter the number:  121

It is a Palindrome number

<h1>Reverse of String</h1>

In [22]:
name=input("Enter the String")
original=name
rev=''
for i in name:
    rev = i + rev
print(rev)

Enter the String abc

cba

<h1>Palindrome of the stirng</h1>

In [23]:
name = input("Enter the String: ")
original = name
rev = ''

for i in name:
    rev = i + rev

if original == rev:
    print("It is a Palindrome String")
else:
    print("It is NOT a Palindrome String")

Enter the String:  aba

It is a Palindrome String

<h1>Sum of Array</h1>

In [3]:
#method 1 
arr=[1,2,345,5]
print(sum(arr))
print(sum(arr,10))#Add 10 in total sum of array
print(sum(arr,-10))#subtract 10 from total sum of array

353
363
343

In [50]:
#method2
arr=[1,2,4,556]
total=0
for i in arr:
    total=total + i
print("Sum of Array:",total)

Sum of Array: 563

<h1>Find Maximum and Minimume </h1>

In [17]:
from array import *
arr=array('i',[])
n=int(input("Enter the size of array"))
for i in range(0,n):
    x=int(input("Enter array elements:"))
    arr.append(x)
print(arr)

#printng using for loop
for i, value in enumerate(arr):
    print(i,value)

#Finding the maximum value
max=arr[0]
for i in range(0,n):
    if arr[i]> max:
        max=arr[i]
print('Maximum value:',max)

#Finding the maximum value
min=arr[0]
for i in range(0,n):
    if arr[i] < max:
        min=arr[i]
print('Minimum value',min)

Enter the size of array 3
Enter array elements: 4
Enter array elements: 2
Enter array elements: 4

array('i', [4, 2, 4])
0 4
1 2
2 4
Maximum value: 4
Minimum value 2

<h1>Swap first and last element in list</h1>

In [20]:
lst=[1,2,3,4,5]
print("Before swapping the first and last elements",lst)
size=len(lst)
print(size)
temp=lst[0]
lst[0]=lst[size-1]
lst[size-1]=temp
print("After swap first and last elements")
print(lst)

Before swapping the first and last elements [1, 2, 3, 4, 5]
5
After swap first and last elements
[5, 2, 3, 4, 1]

<h1>Remove the repeated word </h1>

In [26]:
lst=['a','b','c','a']
print(lst)
word='a'
n=2
count=0
for i in range(0, len(lst)):
    if lst[i]==word:
        count=count +1
        if count==2:
            del lst[i]
print(lst)

['a', 'b', 'c', 'a']
['a', 'b', 'c']

<h1>Searth element in list</h1>

In [34]:
lst=[1,2,3]
search=5
flag=0
for i in range(0,len(lst)):
    if lst[i] == search:
        print("Elements is found at postion",i)
        flag=1
        break
    
if flag ==0:
    print("Element is not found")

Element is not found

In [36]:
lst=[1,2,3]
#clear the list
lst.clear()
print(lst)

[]

<h1>Reverse of the list</h1>

In [37]:
#method 1
lst=[1,2,3,4]
print(lst)
lst.reverse()
print(lst)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [40]:
#method 2
lst=[1,2,3,4]
print(lst)
lst2=lst[::-1]
print(lst2)

[1, 2, 3, 4]
[4, 3, 2, 1]

<h1>copy the list</h1>

In [42]:
lst=[1,2,3]
print(lst)
copylist=lst[::-1]
print(copylist)

[1, 2, 3]
[3, 2, 1]

In [43]:
#using list methdo
lst=[1,2,3]
print(lst)
newlist=list(lst)
print(lst)

[1, 2, 3]
[1, 2, 3]

In [45]:
#using copy method
lst=[1,2,3]
print(lst)
newlst=lst.copy()
print(newlst)

[1, 2, 3]
[1, 2, 3]

<h1> Count Occurrences of an element in a list</h1>

In [48]:
lst=[1,2,3,34,3,43,3,3]
print(lst)
ele=3
count=0
for i in range(0,len(lst)):
    if lst[i] == ele:
        count=count +1
print(ele,'has occured',count)

[1, 2, 3, 34, 3, 43, 3, 3]
3 has occured 4

<h1> Find Sum of Elements in the List</h1>

In [51]:
lst=[1,2,3,4]
total=0
for i in range(0,len(lst)):
    total=total + lst[i]
print(total)

10

<h1> Multiply All Numbers in the List</h1>

In [3]:
lst=[1,2,3,4]
print(lst)
multi=1
for i in range(len(lst)):
    multi=multi * lst[i]
print(multi)

[1, 2, 3, 4]
24

In [4]:
lst=[1,2,3,4]
print(lst)
multi=1
for i in lst:
    multi=multi * i
print(multi)

[1, 2, 3, 4]
24

<h1>Find maximum and minimume from the list</h1>

In [9]:
lst=[32,43,435,456,56]
print(lst)
n=len(lst)
print(n)
for i in range(0,n):
    for j in range(i+1,n):
        if lst[i] > lst[j]:
            temp=lst[i]
            lst[i]=lst[j]
            lst[j]=temp
print("Sorted list:",lst)
print("minimum value",lst[0])
print("maximum value",lst[n-1])
print("second minimum ",lst[1])
print("second largest",lst[n-2])

[32, 43, 435, 456, 56]
5
Sorted list: [32, 43, 56, 435, 456]
minimum value 32
maximum value 456
second minimum  43
second largest 435

<h1>Check String is Palindrome or Not</h1>

In [16]:
name='madam'
copy_string=name 
rev=''
for i in name:
    rev= i + rev
if rev == copy_string:
    print("String is palindrome")
    print("Original string:",name)
    print("Revers string:",rev)
else:
    print("String is not palindrome")
    print("Original string:",name)
    print("Revers string:",rev)

String is palindrome
Original string: madam
Revers string: madam

<h1>How To Reverse Words in a String</h1>

In [22]:
str='hello python programmer'
print("Original string:",str)
words=str.split(' ')
print('String split in words:',words)
revese_word=words[::-1]
print('Reverse of words',revese_word)
reversestr=' '.join(revese_word)
print("Revese of string:",reversestr)

Original string: hello python programmer
String split in words: ['hello', 'python', 'programmer']
Reverse of words ['programmer', 'python', 'hello']
Revese of string: programmer python hello

<h1>Find Sub string Presence in a String</h1>

In [26]:
str='hello python programmer'
check_str='python'
#print(str.find(check_str))

if str.find(check_str) == -1:
    print("String is not found")
else:
    print("String is found")

String is found

<h1>How To Find Length of a String</h1>

In [28]:
str='Abhishek'
count=0
for i in str:
    count=count + 1
print("Length of string :",count)
print("Using len method:",len(str))

Length of string : 8
Using len method: 8

<h1>user input for the list</h1>

In [1]:
lst = []   # create empty list

n = int(input("Enter the size of list: "))

for i in range(0, n):
    x = int(input("Enter list elements: "))
    lst.append(x)   # add element to list

print(lst)   # print the list

Enter the size of list:  4
Enter list elements:  3
Enter list elements:  4
Enter list elements:  4
Enter list elements:  5

[3, 4, 4, 5]

In [7]:
name = "Nishad ABhishKKjkjda"
print(name)
print(id(name))

name = name.upper()
print(name)
print(id(name))

Nishad ABhishKKjkjda
2273780814896
NISHAD ABHISHKKJKJDA
2273780818992