In [3]:
def sum(*nums):
    total=0
    for i in nums:
        total=total+i
    print(total)
sum(1,2,3,4,5,6,7)

28

In [16]:
#shallow copy
lst=[1,2]
lst2=lst.copy()#seprated copy created
lst2.append(3)
print(lst)
print(lst2)
print("shallow copy with nested lists")
lst1=[[1,2],[2,3],[4,5]]
lst2=lst1.copy()
lst2[1][1]=4#reflect original and copy strings
print(lst2)
print(lst1)
lst2.insert(1, [9, 9])#only changes will be done on the copy str          
print(lst2)
print(lst1)
#value will be change only second list not first
lst2[1].pop()
lst2[1].append(4)
lst2[1].insert(1,99)
print(lst1)
print(lst2)

[1, 2]
[1, 2, 3]
shallow copy with nested lists
[[1, 2], [2, 4], [4, 5]]
[[1, 2], [2, 4], [4, 5]]
[[1, 2], [9, 9], [2, 4], [4, 5]]
[[1, 2], [2, 4], [4, 5]]
[[1, 2], [2, 4], [4, 5]]
[[1, 2], [9, 99, 4], [2, 4], [4, 5]]

In [18]:
#deep copy
import copy
lst=[1,2]
lst2=copy.deepcopy(lst)
lst2.append(4)
print(lst)
print(lst2)

lst1=[[1,2],[3,4],[5,6]]
lst2=copy.deepcopy(lst1)
lst2[1][0]=99#in deep copy changes will not reflect with both copy
print(lst1)
print(lst2)

[1, 2]
[1, 2, 4]
[[1, 2], [3, 4], [5, 6]]
[[1, 2], [99, 4], [5, 6]]

In [19]:
#abstract methed
from abc import ABC ,abstractmethod
class Vehicle(ABC):
    def fuel(self):
        print("Fuel is needed") 
    @abstractmethod
    def speed(self):
        pass
class Bike(Vehicle):
    def speed(self):
        print("bike speed is 80 km/h")
obj=Bike()
obj.fuel()
obj.speed()

Fuel is needed
bike speed is 80 km/h

In [21]:
print(bool(""))
print(bool("a"))

False
True

In [22]:
a=[1,2,3]
b=a
b.append(5)
print(a)
print(b)

[1, 2, 3, 5]
[1, 2, 3, 5]

In [23]:
print(0.1+0.2==0.3)

False

In [24]:
f=lambda x :x+1
print(type(f))

<class 'function'>

In [25]:
def fib():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
f=fib()
print(next(f))

0

In [30]:
str='The sky is blue'
split_str=str.split(" ")
rev_str=split_str[::-1]
join_rev_str=" ".join(rev_str)
print(join_rev_str)

blue is sky The

In [33]:
arr=[12,0,23,4343,43,45]
min=arr[0]
max=arr[0]
for i in arr:
    if i <min:
        min=i
    if i>max:
        max=i
print(min,max)

0 4343

In [38]:
#raise exception
l=[1,2,3,4]
sum=0

for i in l:
    if i==434:
        raise Exception("1 found")
    else:
        sum+=i
print(sum)

10

In [54]:
#decorator

def decorator(func):
    def wrapper(a,b):
        print('sum')
        return func(a,b)
    return wrapper

@decorator
def add(a,b):
    return a+b
print(add(1,3))

sum
4

In [72]:
x=[]
y=x # x and y refer to same object
y +=[1,2]
print(x)
print(y)
y=y+[1,23,4]#Now another object is created with name y
print(x)
print(y)

[1, 2]
[1, 2]
[1, 2]
[1, 2, 1, 23, 4]
[1, 2]
[1, 2, 1, 23, 4, 100]

In [74]:
x=[]
y=x # x and y refer to same object
y=[1,2]#different object created
print(x,y)

[] [1, 2]

In [75]:
x=[]
y=x # x and y refer to same object
y+=[1,2]#refer to same object
print(x,y)

[1, 2] [1, 2]

In [59]:
x=[1,2,3]
y=x[:]#now we assing the value of x not x, so x and y refer to different object
y.append(4)
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 4]

In [60]:
print([] == [])
print([] is [])

True
False

In [62]:
a=10
print(a)
a=20
print(a,a)

10
20 20

In [63]:
a=10
def func():
    a=20
    print(a)
func()
print(a)

20
10

In [66]:
a=1
def fun():
    global a
    a=22#now global variable change
    print(a)
fun()
print(a)

22
22

In [67]:
print(0.1+0.2==0.3)

False

In [71]:
x=None
print(x)
print( x==False)
print(x is False)

'''
Key Takeaways

None != False → because their values are different

None is not False → because they are different objects

None is often used for absence of value, False for boolean false

'''

None
False
False

'\nKey Takeaways\n\nNone != False → because their values are different\n\nNone is not False → because they are different objects\n\nNone is often used for absence of value, False for boolean false\n\n'

In [76]:
print(type(lambda x:x))

<class 'function'>

In [78]:
print(bool([]),bool({}),bool(()))

False False False

In [79]:
a=[1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [80]:
print('5'*3)

555

In [83]:
def add(x,y=[]):
    y.append(x)
    return y
print(add(1))
print(add(2))

[1]
[1, 2]

In [85]:
x=(1,2,3,[5,6])
x[3].append(5)
print(x)

(1, 2, 3, [5, 6, 5])

In [91]:
print(type(int))
print(type(list))
print(type(tuple))
print(type(set))
print(type(dict))
print(type(str))

<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'str'>

In [93]:
a=20
print(type(type(a)))

<class 'type'>

In [94]:
print(bool(''))

False

In [95]:
print(bool('0'))

True

In [96]:
print(True ==0)
print(False==1)
print(True is 1)

False
False
False

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\dell\AppData\Local\Temp\ipykernel_1776\1286156738.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(True is 1)

In [97]:
print(True==1)
print(False==0)
print(True is 1)

True
True
False

In [98]:
print(type(None))

<class 'NoneType'>

In [101]:
x=5
def test():
    print(x)
test()

5

In [103]:
x=5
def test():
    global x
    x=x+1
    print(x)
test()

6

In [105]:
x=5
def test():
    x=x+1
    print(x)
test()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [107]:
print({} == {})
print({} is {})

True
False

In [108]:
print(5 and 0)
print(0 and 5)
print(5 or 0)
print(0 or 5)

0
0
5
5

In [109]:
print(1 and True)
print(1 and 1)
print(1 and 2)
print(1 and 0)

True
1
2
0

In [113]:
print(  not not bool(['ab']))

True

In [115]:
print( not bool([]))

True

In [117]:
print([ i for i in range(1,10)])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
a=[[],[],[]]
a[0].append(1)
print(a)

[[1], [], []]

In [121]:
a=[[]] * 3
print(a)
a[0].append(1)
print(a)

[[], [], []]
[[1], [1], [1]]

In [125]:
print(type([]))
print(type(()))
print(type({1}))
print(type({}))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [2]:
print(sum([True,True,False,False,5]))

7

In [21]:
# all() with empty list
print(all([]))     # True

# Reason:
# all() ka matlab → "kya sab elements True hain?"
# Empty list me koi element hi nahi hota
# So logically: koi bhi False nahi mila
# ⇒ condition satisfied
# This is called "vacuous truth"


# any() with empty list
print(any([]))     # False

# Reason:
# any() ka matlab → "kya koi ek element True hai?"
# Empty list me koi element hi nahi hota
# So True milne ka chance hi nahi
# ⇒ False

True
False

In [6]:
print(all([1,1,1,0]))

False

In [7]:
print(any([1,1,0]))

True

In [8]:
print(len(" "))

1

In [11]:
join="".join(['a','b'])
print(join)

ab

In [14]:
d={1:'a',1.0:'b',2.4:'c',0:'0',False:'False'}
print(d)

{1: 'b', 2.4: 'c', 0: 'False'}

In [18]:
s='ab'
print(id(s))
s=s+'c'
print(id(s))
print(s)

2292281239824
2292342925488
abc

In [19]:
s='ab'
s+='a'
print(s)

aba

In [22]:
print(round(2.5))
print(round(3.4))

2
3

In [23]:
t1=(1,2)
temp=list(t1)
temp.insert(1,3)
t1=tuple(temp)
print(t1)

(1, 3, 2)

In [27]:
lst=[32,43,43,45,23]
lst.sort()
print(lst)
sorted_list=sorted(lst)
print(sorted(lst))
print(sorted_list)

[23, 32, 43, 43, 45]
[23, 32, 43, 43, 45]
[23, 32, 43, 43, 45]

In [28]:
str='ab'
print(''.join(reversed(str)))

ba

In [29]:
str='python and datascience'
vowel='aeiouAEIOU'
result=''
for i in str:
    if i not in vowel:
        result+=i
print(result)

pythn nd dtscnc

In [35]:
num=int(input("Enter the number:"))
def prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True
prime(num)
total=0
prime_number=[]
for i in range(2,num+1):
    if prime(i):
        total=total+i
        prime_number.append(i)
print("Prime numbers",prime_number)
print("Sum of the primes numbers :",total)

Enter the number: 10

Prime numbers [2, 3, 5, 7]
Sum of the primes numbers : 17

In [37]:
lst=[1,2,3]
lst.extend([34,545,54])
lst.insert(0,0)
print(lst)

[0, 1, 2, 3, 34, 545, 54]

In [41]:
print(5/2)
print(5//2)
print(-5/2)
print(-5//2)

2.5
2
-2.5
-3

In [43]:
print(5%2)
print(-5%2)

1
1

In [45]:
import math
print(math.floor(3/2))
print(math.ceil(3/2))
print(math.pow(2,2))

1
2
4.0

In [47]:
n=5
arr=[0]*5
print(n)

5

In [48]:
a,b,c=[1,2,3]
print(a,b,c)

1 2 3

In [50]:
nums=[1,2,4]
for index,num in enumerate(nums):
    print(index,num)

0 1
1 2
2 4

In [51]:
arr=[  i+i for i in range(1,3)]
print(arr)

[2, 4]

In [52]:
arr=[[0]*4 for i in range(1,3)]
print(arr)

[[0, 0, 0, 0], [0, 0, 0, 0]]

In [53]:
s='abc'
print(s[0:2])
s[0]='A'
print(s)

ab

TypeError: 'str' object does not support item assignment

In [54]:
s='abc'
print(s)
s=s+'d'
print(s)

abc
abcd

In [55]:
s='abc'
print(s)
s+='d'
print(s)

abc
abcd

In [56]:
print(int('123') + int('1234'))

1357

In [1]:
print(str(123) + str(123))

123123

In [2]:
#find the ascci value
print(ord('a'))
print(ord('b'))

97
98

In [3]:
str='madam'
def palindrome(str):
    f=0
    l=len(str)-1
    while f<=l:
        if str[f]!=str[l]:
            return False
        else:
            f=f+1
            l=l-1
    return True

palindrome(str)

True

In [6]:
s = 'aabbccddeeee'
result = ''
count = 1

for i in range(1, len(s) + 1):
    
    if i < len(s) and s[i] == s[i-1]:
        count += 1
    else:
        result += s[i-1] + str(count)
        count = 1

print(result)

a2b2c2d2e4

In [7]:
dic={
    3:'fizz',
    5:'buzz'
}
for i in range(1,10):
    result=''
    for k,v in dic.items():
        if i%k==0:
            result=result+v
    if not result:
        result=i
    print(result)

1
2
fizz
4
buzz
fizz
7
8
fizz

In [12]:
str='This_Is_A_Good_Morning'
l=[]
split_str=str.split('_')
for i in split_str:
    l.append(i[0].lower() + i[1:].upper())
output_str='.'.join(l)
print(output_str)

tHIS.iS.a.gOOD.mORNING